altair==4.1.0
altgraph @ file:///home/linux1/recipes/ci/altgraph_1611055153312/work
argon2-cffi==20.1.0
astor==0.8.1
astroid==2.4.2
async-generator==1.10
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
backcall==0.2.0
base58==2.1.0
bleach==3.3.0
blinker==1.4
blis @ file:///C:/ci/cython-blis_1613319546081/work
brotlipy==0.7.0
cachetools==4.2.1
catalogue @ file:///tmp/build/80754af9/catalogue_1608238891378/work
certifi==2021.5.30
cffi @ file:///C:/ci/cffi_1613247431367/work
chardet @ file:///C:/ci/chardet_1607706937985/work
click @ file:///tmp/build/80754af9/click_1621604852318/work
colorama==0.4.4
cryptography @ file:///C:/ci/cryptography_1616769504165/work
cycler==0.10.0
cymem @ file:///C:/ci/cymem_1613319394737/work
d2l==0.16.6
decorator==4.4.2
defusedxml==0.7.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.3
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1589994591731/work
Flask==1.1.2
future @ file:///C:/ci/future_1607568713721/work
gitdb==4.0.5
GitPython==3.1.14
huggingface-hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1624950729055/work
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1617877477759/work
ipykernel==5.5.3
ipython==7.23.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.7.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
macholib @ file:///home/linux1/recipes/ci/macholib_1611055836792/work
MarkupSafe==1.1.1
matplotlib==3.3.4
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1618854182866/work
mkl-service==2.3.0
murmurhash @ file:///C:/ci/murmurhash_1607438098799/work
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
nltk @ file:///tmp/build/80754af9/nltk_1621347441292/work
notebook==6.2.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1620831398996/work
olefile==0.46
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas==1.2.3
pandocfilters==1.4.3
parso==0.8.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow @ file:///C:/ci/pillow_1617386320391/work
plac @ file:///C:/ci/plac_1608239569314/work
preshed @ file:///C:/ci/preshed_1621861044294/work
prometheus-client==0.9.0
prompt-toolkit==3.0.17
protobuf==3.15.6
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycryptodome @ file:///C:/ci/pycryptodome_1613765394692/work
pydeck==0.6.1
Pygments==2.8.1
PyInstaller @ file:///C:/ci/pyinstaller_1615968715952/work
pylint==2.6.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
pyrsistent @ file:///C:/ci/pyrsistent_1607359751294/work
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dateutil==2.8.1
pytz==2021.1
pywin32==301
pywin32-ctypes @ file:///C:/ci/pywin32-ctypes_1607553594546/work
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.1.1
QtPy==1.9.0
regex @ file:///C:/ci/regex_1617569893538/work
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1588857588528/work
scikit-learn @ file:///C:/ci/scikit-learn_1622739499047/work
scipy @ file:///C:/ci/scipy_1618856124610/work
Send2Trash==1.5.0
six @ file:///tmp/build/80754af9/six_1623709665295/work
smmap==3.0.5
spacy @ file:///C:/ci/spacy_1608323041133/work
srsly @ file:///C:/ci/srsly_1607548588304/work
streamlit==0.79.0
terminado==0.9.3
testpath==0.4.4
thinc @ file:///C:/ci/thinc_1608222645755/work
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tokenizers @ file:///D:/bld/tokenizers_1615296169831/work
toml==0.10.2
toolz==0.11.1
torch==1.9.0
torchvision==0.2.2
tornado==6.1
tqdm @ file:///tmp/build/80754af9/tqdm_1623943362311/work
traitlets==5.0.5
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1625070363677/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
tzlocal==2.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
validators==0.18.2
wasabi @ file:///tmp/build/80754af9/wasabi_1612219178408/work
watchdog==2.0.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wincertstore==0.2
zipp @ file:///tmp/build/80754af9/zipp_1615904174917/work
